

/* define defaults for start page. */

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;

    color: #E7F5DC;
    background-color: #C0DFD8;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 125px;
}
.main-menu-button-1{
    width: 80%;
    height: 20%;
    background-color: #64AC8F;
    box-shadow: 3px 0px 4px 1px rgba(0, 0, 0, 0.25);
}
.main-menu-button-2{
    width: 80%;
    height: 20%;
    background-color: #94D6BA;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 5px 4px rgba(0, 0, 0, 0.25);
}
.end{
    box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.25), inset 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.main-text{
    margin: 10px 20px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
}