

/* define defaults for start page. */

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;

    color: #E7F5DC;
    background-color: #C0DFD8;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 125px;
}
#codes{
    height: 85%;
    width: 80%;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-basis: 125px;
}
#code{
    height: 85%;
    width: 80%;
    padding: 5% 10%;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.main-menu-button-1{
    width: 80%;
    height: 20%;
    background-color: #64AC8F;
    box-shadow: 3px 0px 4px 1px rgba(0, 0, 0, 0.25);
}
.main-menu-button-2{
    width: 80%;
    height: 20%;
    background-color: #94D6BA;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 5px 4px rgba(0, 0, 0, 0.25);
}
.end{
    box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.25), inset 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.main-text{
    margin: 10px 20px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
}

.code-plate-1{
    width: 125px;
    height: 125px;
    margin: 5px;
    background: #64AC8F;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.code-plate-2{
    width: 125px;
    height: 125px;
    margin: 5px;
    background: #94D6BA;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}
.teory{
    width: 100%;
    height: 60%;
    margin-bottom: 20px;
    background: #E7F5DC;
    border: 3px solid #4C6255;/*linear-gradient(132.51deg, #4C6255 0%, #C0DFD8 100%);*/
}



