<div class="task up">
    <h3>Закодируйте сообщение при b={{b}} и m={{m}}: </h3>
        <div class="matrix read">
            <div>
                {{#matrix}}
                <p>{{#.}} {{.}}{{/.}}</p>
                {{/matrix}}
            </div>
            <div>
                <textarea disabled="true" rows="{{k}}" cols="1" maxlength="{{k}}" class="matrix-side-text-area" type="text" >{{message}}</textarea>
            </div>
        </div>
   <textarea placeholder="{{#zeros}}0{{/zeros}}" rows="1" cols="{{cols}}" maxlength="{{c}}" class="matrix-bottom-text-area" name="answer" type="text" ></textarea>
</div>