<div id="generator">
    <h3>сколько информации содержит сообщение: {{code}} , если вероятность появления каждого элемента:</h3>
    {{#probs}}<table>
        {{#x1}}<tr><td> x1 = {{.}} </td></tr>{{/x1}}
        {{#x2}}<tr><td> x2 = {{.}} </td></tr>{{/x2}}
        {{#x3}}<tr><td> x3 = {{.}} </td></tr>{{/x3}}
        {{#x4}}<tr><td> x4 = {{.}} </td></tr>{{/x4}}
        {{#x5}}<tr><td> x5 = {{.}} </td></tr>{{/x5}}
        {{#x6}}<tr><td> x6 = {{.}} </td></tr>{{/x6}}
    </table>{{/probs}}
    <input id="answer" type="text"><label id="trueAnswer" style="display: none; color: forestgreen">True</label>
</div>
