<div class="task">
    <h3>составьте кодовые комбинации</h3>
    {{#message}}<table>
    <tr><td> a1 </td><td> {{a1}} </td><td><input type="text" name="answer" size="8"></td></tr>
    <tr><td> a2 </td><td> {{a2}} </td><td><input type="text" name="answer" size="8"></td></tr>
    <tr><td> a3 </td><td> {{a3}} </td><td><input type="text" name="answer" size="8"></td></tr>
    <tr><td> a4 </td><td> {{a4}} </td><td><input type="text" name="answer" size="8"></td></tr>
    <tr><td> a5 </td><td> {{a5}} </td><td><input type="text" name="answer" size="8"></td></tr>
    <tr><td> a6 </td><td> {{a6}} </td><td><input type="text" name="answer" size="8"></td></tr>
    <tr><td> a7 </td><td> {{a7}} </td><td><input type="text" name="answer" size="8"></td></tr>
    <tr><td> a8 </td><td> {{a8}} </td><td><input type="text" name="answer" size="8"></td></tr>
</table>{{/message}}
</div>
